
#rock{
}

#paper{
}

#scissors{
}

img {
	width: 150px;
	float: left;
}

.resultSentence {
	margin:
	font-size: 30px;
}




p{
	text-align: left;
	margin-right: 10px;
	margin-top: 10px;
	float: left;
	padding: 10px;
}

input.button {
    height: 200px;
    padding-left: 36px;
    border: 1px solid #000;
    background: url(http://placehold.it/16x16) no-repeat 10px center;
}

button{
	font-style: white;
	color: white;
}




	h1 { 
		font-size: 60px;
		text-align: center;
;
		

	}
	h2 {
		font-size: 35px;
		text-align: center;
	}


#playerSide {
	float:left;
	margin: 0 0 0 0;
	
}

#computerSide {
	float:right;
	margin: 0 0 0 0;
	
}

#instructions {
	padding: 0 0 0 40% ;
}

#buttons {
	margin: 10% 0 0 10%;
    display:inline-block;
    
}

input[type=button] {
	background-color:#FFFACD;
	border-radius: 20px;
	width:6em;
	height:2em;
	font-size: 20px;
	
}

.resultSentence {
	margin:
	font-size: 30px;
}


.compWeapon {
	margin: 20% 0 0 45%;
	font-size: 30px;
}

#replayButton {
	background-color: #FFD700;
	margin:5% 0 0 35%;
}

#boxmodel_pic {
	width: 200px;
	float: right;
	margin-left: 15px;
}



#top {
text-align: center;
font-size: 20px;

}

#content {
width: 600px;
background: #33FBFF;
border: 3px solid black;
border-radius: 10px;
margin: 40px auto;
padding: 30px auto;

}



